@charset "utf-8";

body {
	background: #f6f6f6;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	text-align: center;
}

.wrap {
	width: 500px;
	margin: 200px auto;
}

input {
	width: 100%;
	border: 1px solid #ccc;
	height: 50px;
	width: 100px;
	text-align: center;
	outline: none;
	border-radius: 3px;
	margin: 5px;
}

input:focus {
	border: 1px solid #007ee5;
}

.hex {

}