---
title: Android Transparency Calculator
---

<div class="wrap">
	<p>Transparency to Hex</p>
	<input placeholder="Opacity" type="text" id="opacity"  class="opacity" name="opacity" onchange="getHexValue()">
	<p class="hex" id="hex"> &nbsp; </p>

<!--   <br><br>

  <p>Density calculator</p>
  <input placeholder="hpdi" type="text" id="hdpi">
  <input placeholder="xhpdi" type="text" id="xhdpi">
  <input placeholder="xxhpdi" type="text" id="xxhdpi">
  <input placeholder="xxxhpdi" type="text" id="xxxhdpi"> -->
</div>

